.vs/
AWSDataStore/obj/
CoreServices/bin/Debug/netcoreapp2.0/CoreServices.deps.json
CoreServices/bin/
CoreServices/obj/CoreServices.csproj.nuget.g.props
CoreServices/obj/
FormService/bin/
FormService/obj/
MessageBusWriter/bin/
MessageBusWriter/obj/MessageBusWriter.csproj.nuget.g.props
MessageBusWriter/obj/
OrderStore/obj/
OrderStore/bin/
NotificationService/obj/Release/netcoreapp2.0/linux-x64/NotificationService.csproj.CopyComplete
NotificationService/obj/
NotificationService/bin/
AWSDataStore/bin/
MainApp/bin/
MainApp/obj/
ServiceModel/
